/* Estilos de generales */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;800&display=swap');

/* Reset de estilos */
* {
  color: #fff;
  font-family: 'Archivo', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  scroll-behavior: smooth;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  cursor:text;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color-scheme: dark;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2C2C2C;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #191919;
}

/* Estilos de texto */
h1 {
  font-weight: 800;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 12px;
}

/* Body */
body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
  background: #1E1E1E;
  box-sizing: border-box;
}

/* Topbar */
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #2C2C2C;
  background: #1E1E1E;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
}

  /* Button frame */
  .header .buttonFrame {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
  }

    /* Botón mostrar formulario */
    .header .buttonFrame .addButton {
      align-self: flex-end;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

      .header .buttonFrame .addButton .addIcon {
        stroke: #C8C8C8;
        fill: none;
        width: 25px;
        transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
      }

      .header .buttonFrame .addButton:hover .addIcon {
        stroke: #fff;
      }

    /* Botón editar contenidos */
    .header .buttonFrame .editButton {
      align-self: flex-end;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

      .header .buttonFrame .editButton .editIcon {
        fill: #C8C8C8;
        width: 25px;
        transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
      }

        .header .buttonFrame .editButton:hover .editIcon {
          fill: #fff;
        }

    /* Botón salir del modo edición */
    .header .buttonFrame .closeButton {
      align-self: flex-end;
      display: none;
      justify-content: center;
      align-items: center;
      transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

      .header .buttonFrame .closeButton .closeIcon {
        stroke: #C8C8C8;
        width: 25px;
        fill: none;
        transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
      }

        .header .buttonFrame .closeButton:hover .closeIcon {
          stroke: #fff;
        }

/* Content */
.main {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px 0px 40px 0px;
  margin-top: 65px;
}

  /* Botón mostrar formulario */
  .main .mainAddButton {
    width: calc(100% - 40px);
    max-width: 800px;
    min-width: 200px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: none;
    border-radius: 10px;
    border: 2px solid rgba(103, 103, 103, 1);
    transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #C8C8C8;
    overflow: hidden;
  }

    .main .mainAddButton:hover {
      color: #fff;
      border: 2px solid #a3a3a3;
    }

      .main .mainAddButton .addIcon {
        width: 25px;
        stroke: #C8C8C8;
        fill: none;
        transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
      }
      
      .main .mainAddButton:hover .addIcon {
        stroke: #fff;
      }

/* Tabla de contenidos */
.table {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

  .table .item {
    position: relative;
    cursor: pointer;
    width: calc(100% - 40px);
    max-width: 800px;
    min-width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background: #2C2C2C;
    transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    box-sizing: border-box;
    border: 2px solid rgba(103, 103, 103, 0);
  }

    /*.table .item:hover {
      background: #393939;
    }*/

    .table .itemSelected {
      border: 2px solid rgba(103, 103, 103, 1);
      background: #393939;
    }

  .table .item .itemHeader {
    width: 100%;
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }

    .table .item .itemHeader .itemTitle {
      position: relative;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 22px;
    }

    .table .item .itemHeader .deleteButton {
      position: absolute;
      top: -15px;
      right: -15px;
      align-self: flex-end;
      width: 30px;
      height: 30px;
      background: #282828;
      border-radius: 50px;
      display: none;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 0px 0px;
      transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

      .table .item .itemHeader .deleteButton:hover {
        background: #c41515;
      }
    
      .table .item .itemHeader .deleteButton div {
        position: absolute;
        width: 12px;
        height: 2px;
        background: #C8C8C8;
        border-radius: 5px;
        transition: all 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
      }

        .table .item .itemHeader .deleteButton:hover div:first-child {
          transform: rotate(45deg);
          width: 15px;
        }
        
        .table .item .itemHeader .deleteButton:hover div:last-child {
          transform: rotate(-45deg);
          width: 15px;
        }

  .table .item .itemContent {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

    .table .item .itemContent .itemDate {
      font-family: 'Archivo', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #676767;
    }

    .table .item .itemContent .itemPrice {
      font-family: 'Archivo', sans-serif;
      font-weight: 400;
      font-size: 24px;
    }

/* Formulario */
.formModal {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 840px;
  min-width: 200px;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  background: #1E1E1E;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  border-radius: 20px 20px 0px 0px;
  padding: 45px 40px;
  box-sizing: border-box;
  z-index: 3;
  transform: translateY(0px);
}

  .formModal .formTitle {
    cursor: default;
    width: 100%;
    margin-bottom: 10px;
  }

  .formModal .formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }

    .formModal .formulario label {
      font-weight: 600;
      font-size: 16px;
      width: 100%;
      display: flex;
    }

    .name, .price, .date {
      font-weight: 400;
      font-size: 16px;
      display: flex;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0px 15px;
      border: 1px solid #4e4e4e;
      color: #fff;
      transition: border 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }
        
      .name:hover, .price:hover, .date:hover {
          border: 1px solid #A0928C;
        }

      .name:focus, .price:focus, .date:focus {
        border: 1px solid #7fccb2;
      }

      .name:placeholder, .price:placeholder, .date:placeholder {
        color: #676767;
      }

  .formModal .buttomFrame {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
    
      .formModal .buttomFrame .acceptButton {
      cursor: pointer;
      background: #4bb491;
      color: white;
      border: none;
      font-family: 'Archivo', sans-serif;
      font-weight: 700;
      font-size: 14px;
      padding: 15px 20px;
      width: 100%;
      border-radius: 5px;
      transition: background 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

        .formModal .buttomFrame .acceptButton:hover {
        background: #3e987a;
      }

    .formModal .buttomFrame .cancelButton {
      font-family: 'Archivo', sans-serif;
      font-weight: 700;
      font-size: 14px;
      padding: 15px 20px;
      width: 100%;
      border-radius: 5px;
      background: #2C2C2C;
      transition: background 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
    }

      .formModal .buttomFrame .cancelButton:hover {
        background: #252525;
      }

/* Background popup */
.backgroundModal {
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.3, 1.2);
}

/* Clases estado */
.contentVisible {
  display: flex;
}

/* Clases estado */
.vibration {
  transform-origin: 50% 50%;
  animation: vibration 0.3s linear infinite;
}

@keyframes vibration {
  0% {
    transform: rotate(0.2deg);
  }
  50% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(0.2deg);
  }
}